# ParkLah Frontend Environment Variables
EXPO_PUBLIC_API_BASE_URL=http://10.20.90.73:3000
EXPO_PUBLIC_SOCKET_URL=http://10.20.90.73:3000
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=your_google_maps_mobile_api_key_here
EXPO_PUBLIC_SUPABASE_URL=https://qvyqonasrghktgbezlad.supabase.co
